body {
	background-color: #FFF
}

.header {

}

.heaeder img {
	display: inline-block;
}

.header_right {
	width: 100%;
	display: inline-block;
}

.header_right ul li {
	list-style: none;
	display: inline-block;
	float: right;
	padding-left: 50px;
	padding-right: 50px;
}

.header_right ul li a {
	text-decoration: none;
	color: grey;
}

.header_right ul li a:hover {
	text-decoration: none;
	color: blue;
}

.content a {
	text-decoration: none;
	color: black;
}

.content a:hover {
	color: blue;
}

.content #city {
	padding-left: 50px;
}

.content .morning {
	display: inline-block;
	padding-left: 50px;
	padding-right: 100px;
	width: 40%;
}

.morning img {
	display: inline-block;
	height: 100px;
	width: 100px;
	padding-right: 25px;
}

.morning .more_info {
	display: inline-block;
}

.content .afternoon {
	display: inline-block;
	padding-left: 50px;
	padding-right: 100px;
	width: 40%;
}

.afternoon img {
	display: inline-block;
	height: 100px;
	width: 100px;
	padding-right: 25px;
}

.afternoon .more_info {
	display: inline-block;
}

.footer {
	margin: 0;
	padding-top: 250px;
	height: 100px;
	width: 100%;
	background-color: #ECEBFF;
}