/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.pick-group {
  display: flex;
  background-color: white; }

.pick-group.layout {
  position: relative;
  flex-grow: 1; }

.pick-group1 {
  display: flex;
  background-color: rgba(237, 236, 255, 0.603); }

.pick-group1.layout {
  position: absolute;
  height: 526px;
  width: 1469px;
  inset: auto auto -84px -29px; }

.pick-flex2 {
  display: flex; }

.pick-flex2.layout {
  position: relative;
  width: 73.32%;
  margin: 125px auto; }
  @media (max-width: 1199.98px) {
    .pick-flex2.layout {
      width: 67.33%;
      margin: 63px auto; } }
  @media (max-width: 991.98px) {
    .pick-flex2.layout {
      width: 60.72%;
      margin: 32px auto; } }
  @media (max-width: 767.98px) {
    .pick-flex2.layout {
      width: 53.72%;
      margin: 25px auto; } }
  @media (max-width: 575.98px) {
    .pick-flex2.layout {
      width: 46.52%; } }
  @media (max-width: 383.98px) {
    .pick-flex2.layout {
      width: 39.51%; } }

.pick-flex2-item {
  display: flex;
  position: relative;
  flex: 0 1 278px; }

.pick-group2 {
  display: flex;
  flex-direction: column; }

.pick-group2.layout {
  position: relative;
  width: 101px;
  min-width: 101px;
  margin: 0px 0px 70px auto; }

.pick-highlights1 {
  font: 600 18px/1.33 "Open Sans", Helvetica, Arial, serif;
  color: #302f42;
  letter-spacing: 0px; }

.pick-group3 {
  display: flex;
  flex-direction: column; }

.pick-group3.layout {
  position: relative;
  margin: 20px 0px 0px; }

.pick-highlights {
  font: 16px/1.62 "Open Sans", Helvetica, Arial, serif;
  color: #717082;
  letter-spacing: 0px; }

.pick-highlights.layout1 {
  margin: 8px 0px 0px; }

.pick-highlights.layout2 {
  margin: 8px 0px 0px; }

.pick-highlights.layout3 {
  margin: 8px 0px 0px; }

.pick-highlights.layout4 {
  margin: 8px 0px 0px; }

.pick-flex2-spacer {
  flex: 1 1 161px; }

.pick-flex2-item1 {
  display: flex;
  position: relative;
  flex: 0 1 105px; }

.pick-group4 {
  display: flex;
  flex-direction: column; }

.pick-group4.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 70px; }

.pick-highlights1.layout1 {
  margin: 0px 1px; }

.pick-group5 {
  display: flex;
  flex-direction: column; }

.pick-group5.layout {
  position: relative;
  margin: 20px 0px 0px; }

.pick-highlights.layout5 {
  margin: 8px 0px 0px; }

.pick-highlights.layout6 {
  margin: 8px 0px 0px; }

.pick-highlights.layout7 {
  margin: 8px 0px 0px; }

.pick-highlights.layout8 {
  margin: 8px 0px 0px; }

.pick-flex2-item2 {
  display: flex;
  position: relative;
  flex: 0 1 91px; }

.pick-group6 {
  display: flex;
  flex-direction: column; }

.pick-group6.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 172px; }

.pick-group7 {
  display: flex;
  flex-direction: column; }

.pick-group7.layout {
  position: relative;
  margin: 20px 0px 0px; }

.pick-highlights.layout9 {
  margin: 8px 0px 0px; }

.pick-flex2-item3 {
  display: flex;
  position: relative;
  flex: 0 1 120px; }

.pick-group8 {
  display: flex;
  flex-direction: column; }

.pick-group8.layout {
  position: relative;
  flex-grow: 1;
  margin: 0px 0px 200px; }

.pick-highlights1.layout2 {
  margin: 0px 1px; }

.pick-group9 {
  display: flex; }

.pick-group9.layout {
  position: relative;
  margin: 20px 0px 0px; }

.pick-group9-item {
  display: flex;
  position: relative;
  flex: 0 1 32px; }

.pick-group10 {
  display: flex;
  background-color: white;
  border-radius: 1px 1px 1px 1px; }

.pick-group10.layout {
  position: relative;
  height: 32px;
  flex-grow: 1; }

.pick-image {
  background: var(--src) center center/contain no-repeat;
  border-radius: 1px 1px 1px 1px; }

.pick-image.layout {
  height: 14px;
  width: 8px;
  min-width: 8px;
  margin: 9px 0px 0px 13px; }

.pick-group9-spacer {
  flex: 0 1 12px; }

.pick-group11 {
  display: flex;
  background-color: white;
  border-radius: 1px 1px 1px 1px; }

.pick-group11.layout {
  position: relative;
  height: 32px;
  flex-grow: 1; }

.pick-image1 {
  background: var(--src) center center/contain no-repeat;
  border-radius: 1px 1px 1px 1px; }

.pick-image1.layout {
  height: 12px;
  width: 15px;
  min-width: 15px;
  margin: 10px 0px 0px 9px; }

.pick-group12 {
  display: flex; }

.pick-group12.layout {
  position: relative;
  flex-grow: 1; }

.pick-decorator {
  background: var(--src) center center/contain no-repeat; }

.pick-decorator.layout {
  position: absolute;
  height: 1043px;
  width: 1030px;
  inset: -40px auto auto -504px; }

.pick-group13 {
  display: flex; }

.pick-group13.layout {
  position: relative;
  flex-grow: 1; }

.pick-decorator1 {
  background: var(--src) center center/contain no-repeat; }

.pick-decorator1.layout {
  position: absolute;
  height: 865px;
  width: 863px;
  inset: auto -438px -372px auto; }

.pick-decorator2 {
  background: var(--src) center center/contain no-repeat; }

.pick-decorator2.layout {
  position: absolute;
  height: 641px;
  width: 639px;
  inset: auto -297px -231px auto; }

.pick-group14 {
  display: flex; }

.pick-group14.layout {
  position: relative;
  flex-grow: 1; }

.pick-image3 {
  background: var(--src) center center/contain no-repeat; }

.pick-image3.layout {
  position: absolute;
  height: 793px;
  width: 26.32%;
  margin: 52px 73.68% 581px 0%;
  inset: 0px 0px auto; }
  @media (max-width: 1199.98px) {
    .pick-image3.layout {
      margin: 26px 73.68% 291px 0%; } }
  @media (max-width: 991.98px) {
    .pick-image3.layout {
      margin: 25px 73.68% 146px 0%; } }
  @media (max-width: 767.98px) {
    .pick-image3.layout {
      margin: 25px 73.68% 73px 0%; } }
  @media (max-width: 575.98px) {
    .pick-image3.layout {
      margin: 25px 73.68% 37px 0%; } }
  @media (max-width: 479.98px) {
    .pick-image3.layout {
      margin: 25px 73.68% 25px 0%; } }

.pick-group15 {
  display: flex; }

.pick-group15.layout {
  position: relative;
  flex-grow: 1; }

.pick-image2 {
  background: var(--src) center center/contain no-repeat; }

.pick-image2.layout {
  position: absolute;
  height: 574px;
  width: 32.22%;
  margin: 369px 67.78% 483px 0%;
  inset: 0px 0px auto; }
  @media (max-width: 1199.98px) {
    .pick-image2.layout {
      margin: 185px 67.78% 242px 0%; } }
  @media (max-width: 991.98px) {
    .pick-image2.layout {
      margin: 93px 67.78% 121px 0%; } }
  @media (max-width: 767.98px) {
    .pick-image2.layout {
      margin: 47px 67.78% 61px 0%; } }
  @media (max-width: 575.98px) {
    .pick-image2.layout {
      margin: 25px 67.78% 31px 0%; } }
  @media (max-width: 479.98px) {
    .pick-image2.layout {
      margin: 25px 67.78% 25px 0%; } }

.pick-group16 {
  display: flex; }

.pick-group16.layout {
  position: relative;
  flex-grow: 1; }

.pick-image2.layout1 {
  position: absolute;
  height: 574px;
  width: 32.22%;
  margin: 118px 67.78% 734px 0%;
  inset: 0px 0px auto; }
  @media (max-width: 1199.98px) {
    .pick-image2.layout1 {
      margin: 59px 67.78% 367px 0%; } }
  @media (max-width: 991.98px) {
    .pick-image2.layout1 {
      margin: 30px 67.78% 184px 0%; } }
  @media (max-width: 767.98px) {
    .pick-image2.layout1 {
      margin: 25px 67.78% 92px 0%; } }
  @media (max-width: 575.98px) {
    .pick-image2.layout1 {
      margin: 25px 67.78% 46px 0%; } }
  @media (max-width: 479.98px) {
    .pick-image2.layout1 {
      margin: 25px 67.78% 25px 0%; } }

.pick-group17 {
  display: flex;
  flex-direction: column; }

.pick-group17.layout {
  position: relative;
  overflow: hidden;
  min-height: 1426px;
  flex-grow: 1; }

.pick-group131 {
  display: flex; }

.pick-group131.layout {
  position: relative; }

.pick-group13-item {
  display: flex;
  position: relative;
  flex: 0 1 80px; }

.pick-group141 {
  display: flex;
  background: var(--src) center center/contain no-repeat; }

.pick-group141.layout {
  position: relative;
  height: 82px;
  flex-grow: 1; }

.pick-group13-spacer {
  flex: 1 1 897px; }

.pick-group13-item1 {
  display: flex;
  position: relative;
  flex: 1 1 51px; }

.pick-highlights3 {
  font: 700 16px/1.2 "Open Sans", Helvetica, Arial, serif;
  color: #9994a4;
  letter-spacing: 0px; }

.pick-highlights3.layout {
  flex-grow: 1;
  margin: 25px 0px 37px; }

.pick-group13-spacer1 {
  flex: 0 1 34px; }

.pick-group13-item2 {
  display: flex;
  position: relative;
  flex: 0 1 111px; }

.pick-flex {
  display: flex;
  flex-direction: column; }

.pick-flex.layout {
  position: relative;
  flex-grow: 1; }

.pick-highlights4 {
  font: 700 16px/1.2 "Open Sans", Helvetica, Arial, serif;
  color: #302f42;
  letter-spacing: 0px; }

.pick-highlights4.layout {
  margin: 25px 0px 0px; }

.pick-box3 {
  background-color: #9f9aff; }

.pick-box3.layout {
  height: 4px;
  margin: 0px 1px 33px 0px; }

.pick-group13-spacer2 {
  flex: 0 1 41px; }

.pick-group13-item3 {
  display: flex;
  position: relative;
  flex: 1 1 226px; }

.pick-highlights3.layout1 {
  width: 154px;
  min-width: 154px;
  margin: 25px 0px 37px; }

.pick-group161 {
  display: flex; }

.pick-group161.layout {
  position: relative;
  overflow: hidden;
  width: 28.4%;
  margin: 104px auto 0px; }
  @media (max-width: 1199.98px) {
    .pick-group161.layout {
      margin: 52px auto 0px; } }
  @media (max-width: 991.98px) {
    .pick-group161.layout {
      margin: 26px auto 0px; } }
  @media (max-width: 767.98px) {
    .pick-group161.layout {
      margin: 13px auto 0px; } }
  @media (max-width: 575.98px) {
    .pick-group161.layout {
      margin: 7px auto 0px; } }
  @media (max-width: 479.98px) {
    .pick-group161.layout {
      width: 22.94%;
      margin: 4px auto 0px; } }
  @media (max-width: 383.98px) {
    .pick-group161.layout {
      width: 18.24%;
      margin: 2px auto 0px; } }

.pick-group16-item {
  display: flex;
  position: relative;
  flex: 0 1 85px; }

.pick-flex1 {
  display: flex;
  flex-direction: column; }

.pick-flex1.layout {
  position: relative;
  flex-grow: 1; }

.pick-highlights4.layout1 {
  margin: 0px 1px; }

.pick-box4 {
  background-color: #de943b; }

.pick-box4.layout {
  height: 4px;
  margin: 6px 0px 0px; }

.pick-group16-spacer {
  flex: 1 1 49px; }

.pick-group16-item1 {
  display: flex;
  position: relative;
  flex: 1 1 100px; }

.pick-highlights3.layout2 {
  flex-grow: 1;
  margin: 0px 0px 10px; }

.pick-group16-spacer1 {
  flex: 1 1 48px; }

.pick-group16-item2 {
  display: flex;
  position: relative;
  flex: 1 1 127px; }

.pick-highlights3.layout3 {
  flex-grow: 1;
  margin: 0px 18px 10px 0px; }

.pick-hero-title {
  display: flex;
  justify-content: flex-end;
  font: 700 60px/1.06 "Manrope", Helvetica, Arial, serif;
  color: #302f42;
  text-align: right;
  letter-spacing: -1px; }
  @media (max-width: 1199.98px) {
    .pick-hero-title {
      font-size: 56px;
      text-align: right; } }
  @media (max-width: 991.98px) {
    .pick-hero-title {
      font-size: 53px; } }
  @media (max-width: 767.98px) {
    .pick-hero-title {
      font-size: 50px; } }
  @media (max-width: 575.98px) {
    .pick-hero-title {
      font-size: 48px; } }
  @media (max-width: 479.98px) {
    .pick-hero-title {
      font-size: 47px; } }
  @media (max-width: 383.98px) {
    .pick-hero-title {
      font-size: 46px; } }

.pick-hero-title.layout {
  width: 32.64%;
  margin: 35px auto 0px; }
  @media (max-width: 1199.98px) {
    .pick-hero-title.layout {
      margin: 18px auto 0px; } }
  @media (max-width: 991.98px) {
    .pick-hero-title.layout {
      margin: 9px auto 0px; } }
  @media (max-width: 767.98px) {
    .pick-hero-title.layout {
      margin: 5px auto 0px; } }
  @media (max-width: 575.98px) {
    .pick-hero-title.layout {
      width: 26.68%;
      margin: 3px auto 0px; } }
  @media (max-width: 479.98px) {
    .pick-hero-title.layout {
      width: 21.46%;
      margin: 2px auto 0px; } }
  @media (max-width: 383.98px) {
    .pick-hero-title.layout {
      margin: 1px auto 0px; } }

.pick-group-item {
  display: flex;
  position: relative; }

.pick-group121 {
  display: flex;
  background-color: #f7f7f7;
  border: 1px solid #e8e8e8;
  border-radius: 36px 36px 36px 36px; }

.pick-group121.layout {
  position: relative;
  height: 72px;
  width: 28.4%;
  margin: 23.5px auto 0px; }
  @media (max-width: 1199.98px) {
    .pick-group121.layout {
      margin: 12px auto 0px; } }
  @media (max-width: 991.98px) {
    .pick-group121.layout {
      margin: 6px auto 0px; } }
  @media (max-width: 767.98px) {
    .pick-group121.layout {
      margin: 3px auto 0px; } }
  @media (max-width: 575.98px) {
    .pick-group121.layout {
      margin: 2px auto 0px; } }
  @media (max-width: 479.98px) {
    .pick-group121.layout {
      width: 22.94%;
      margin: 1px auto 0px; } }
  @media (max-width: 383.98px) {
    .pick-group121.layout {
      width: 18.24%; } }

.pick-highlights2 {
  display: flex;
  align-items: center;
  font: 500 18px/1.2 "Manrope", Helvetica, Arial, serif;
  color: #bebebe;
  letter-spacing: 0px; }

.pick-highlights2.layout {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 26px 0px 0px 16px; }
  @media (max-width: 383.98px) {
    .pick-highlights2.layout {
      margin: 24px 0px 0px 16px; } }

.pick-hero-title.layout1 {
  width: 28.19%;
  margin: 91.5px auto 0px; }
  @media (max-width: 1199.98px) {
    .pick-hero-title.layout1 {
      margin: 46px auto 0px; } }
  @media (max-width: 991.98px) {
    .pick-hero-title.layout1 {
      margin: 23px auto 0px; } }
  @media (max-width: 767.98px) {
    .pick-hero-title.layout1 {
      margin: 12px auto 0px; } }
  @media (max-width: 575.98px) {
    .pick-hero-title.layout1 {
      margin: 6px auto 0px; } }
  @media (max-width: 479.98px) {
    .pick-hero-title.layout1 {
      width: 22.78%;
      margin: 3px auto 0px; } }
  @media (max-width: 383.98px) {
    .pick-hero-title.layout1 {
      width: 18.13%;
      margin: 2px auto 0px; } }

.pick-group151 {
  display: flex;
  border: 1px solid #384850;
  border-radius: 20px 20px 20px 20px; }

.pick-group151.layout {
  position: relative;
  width: 27.29%;
  margin: 34px auto 0px; }
  @media (max-width: 1199.98px) {
    .pick-group151.layout {
      margin: 17px auto 0px; } }
  @media (max-width: 991.98px) {
    .pick-group151.layout {
      margin: 9px auto 0px; } }
  @media (max-width: 767.98px) {
    .pick-group151.layout {
      margin: 5px auto 0px; } }
  @media (max-width: 575.98px) {
    .pick-group151.layout {
      margin: 3px auto 0px; } }
  @media (max-width: 479.98px) {
    .pick-group151.layout {
      width: 21.98%;
      margin: 2px auto 0px; } }
  @media (max-width: 383.98px) {
    .pick-group151.layout {
      width: 17.43%;
      margin: 1px auto 0px; } }

.pick-group15-item {
  display: flex;
  position: relative;
  flex: 1 1 182px; }

.pick-highlights5 {
  font: 18px/0.77 "Inter", Helvetica, Arial, serif;
  color: #384850;
  letter-spacing: 0px; }

.pick-highlights5.layout {
  flex-grow: 1;
  margin: 28px 0px 27px 16px; }

.pick-group15-spacer {
  flex: 1 1 182px; }

.pick-image4 {
  background: var(--src) center center/contain no-repeat; }

.pick-image4.layout {
  flex: 0 1 29px;
  height: 4px;
  width: 8px;
  min-width: 8px;
  margin: 33px 21px 32px 0px; }

.pick-group171 {
  display: flex;
  background-color: #6d64ff;
  border: 1px solid #6d64ff;
  border-radius: 20px 20px 20px 20px; }

.pick-group171.layout {
  position: relative;
  width: 27.71%;
  margin: 103px auto 581px; }
  @media (max-width: 1199.98px) {
    .pick-group171.layout {
      margin: 52px auto 291px; } }
  @media (max-width: 991.98px) {
    .pick-group171.layout {
      margin: 26px auto 146px; } }
  @media (max-width: 767.98px) {
    .pick-group171.layout {
      margin: 25px auto 73px; } }
  @media (max-width: 575.98px) {
    .pick-group171.layout {
      margin: 25px auto 37px; } }
  @media (max-width: 479.98px) {
    .pick-group171.layout {
      width: 22.31%;
      margin: 25px auto; } }
  @media (max-width: 383.98px) {
    .pick-group171.layout {
      width: 17.71%; } }

.pick-big-title-box {
  display: flex;
  justify-content: center; }
  @media (max-width: 767.98px) {
    .pick-big-title-box {
      align-items: flex-start;
      justify-content: center; } }
  @media (max-width: 575.98px) {
    .pick-big-title-box {
      align-items: flex-start;
      justify-content: center; } }
  @media (max-width: 479.98px) {
    .pick-big-title-box {
      align-items: flex-start;
      justify-content: center; } }
  @media (max-width: 383.98px) {
    .pick-big-title-box {
      align-items: flex-start;
      justify-content: center; } }

.pick-big-title-box.layout {
  flex-grow: 1;
  margin: 16px 0px 21px; }

.pick-big-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 30px/1.2 "Manrope", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  white-space: pre-wrap; }
  @media (max-width: 767.98px) {
    .pick-big-title {
      font-size: 29px;
      text-align: center; } }
  @media (max-width: 575.98px) {
    .pick-big-title {
      font-size: 28px; } }
  @media (max-width: 479.98px) {
    .pick-big-title {
      font-size: 26px; } }
  @media (max-width: 383.98px) {
    .pick-big-title {
      font-size: 25px; } }
