.home, .data{
	color: gray;
}

.topnav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	position: static;
	width: 1339px;
	height: 32px;
	left: 510px;
	order: 1;
}

.topnav-right{
	position: static;
	margin-left: 770px;
}

.topnav .gambar{
	position: static;
	width: 80px;
	height: 82px;
	order: 0;
	margin: 0px 5px -25px;
}

.judul{
	position: absolute;
	width: 721px;
	height: 82px;
	left: 500px;
	top: 50px;

	font-family: Manrope;
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 89px;
}


/*button*/
button{
	padding: 16px 30px;
	position: absolute;
	width: 175px;
	height: 60px;
	left: 750px;
	top: 600px;
	background-color: #6C63FF;
	color: white;
	border: 1px solid #6C63FF;
	box-sizing: border-box;
	border-radius: 20px;
}

.kelas{
	position: absolute;
	height: 10px;
	left: 500px;
	right: 300px;
	top: 270px;
}

#atribut{
	margin-bottom: 40px;
}

#atribut1 {
	margin-left: 85px;
}

#atribut4{
	margin-left: 70px;
}

#atribut2, #atribut3{
	margin-left: 10px;
}

.sun{
	position: absolute;
	width: 576px;
	height: 623px;
	left: 0px;
	top: 52px;
}

.moon{
	position: absolute;
	width: 668px;
	height: 670px;
	left: 1000px;
	top: 740px;
}

.footer{
	position: absolute;
	width: 1400px;
	height: 580px;
	left: 0px;
	top: 912px;
}
